# Pandas Basic Examples

#### Import Libraries

In [78]:
import pandas as pd

#### Data Retrieval: Read transaction data from an Excel file

In [90]:
df = pd.read_excel('D:/01 Mahesh Data/Data/Pandas/data.xlsx')
print(df)

   First Name   Last Name  Gender        Country   Age        Date      Id
0       Dulce       Abril  Female  United States  32.0  15/10/2017  1562.0
1        Avon       Abril  Female          India  28.0  15/10/2017  1562.0
2        Mara   Hashimoto  Female  Great Britain  25.0  16/08/2016  1582.0
3      Philip        Gent    Male         France  36.0  21/05/2015  2587.0
4    Kathleen      Hanner  Female  United States  25.0  15/10/2017  3549.0
5     Nereida     Magwood  Female  United States  58.0  16/08/2016  2468.0
6      Gaston       Brumm    Male  United States  24.0  21/05/2015  2554.0
7        Etta        Hurn  Female  Great Britain  56.0  15/10/2017  3598.0
8     Earlean      Melgar  Female  United States  27.0  16/08/2016  2456.0
9    Vincenza     Weiland  Female  United States  40.0  21/05/2015  6548.0
10     Fallon     Winward  Female  Great Britain  28.0  16/08/2016  5486.0
11    Arcelia      Bouska  Female  Great Britain  39.0  21/05/2015  1258.0
12        NaN         NaN     NaN            NaN   NaN         NaN     NaN
13    Sherron    Ascencio  Female  Great Britain  32.0  16/08/2016  3256.0
14     Marcel    Ascencio    Male  Great Britain  26.0  21/05/2015  2587.0
15       Kina    Hazelton  Female  Great Britain  31.0  16/08/2016  3259.0
16   Shavonne         Pia  Female         France  24.0  21/05/2015  1546.0
17     Loreta         NaN  Female         France  26.0  21/05/2015  9654.0
18     Teresa      Strawn  Female         France   NaN  21/05/2015  3569.0
19    Belinda     Partain  Female  United States  37.0  15/10/2017  2564.0
20      Holly        Eudy  Female  United States  52.0  16/08/2016  8561.0
21       Many      Cuccia  Female  Great Britain  46.0  21/05/2015  5489.0
22     Libbie       Dalby  Female            NaN  42.0  21/05/2015  5489.0
23     Lester     Prothro    Male         France  21.0  15/10/2017  6574.0
24     Marvel        Hail  Female  Great Britain  28.0  15/10/2017  5555.0
25    Angelyn        Vong  Female  United States  29.0  21/05/2015  6125.0
26  Francesca   Beaudreau  Female         France  23.0  15/10/2017  5412.0
27      Garth       Gangi    Male  United States  41.0  16/08/2016  3256.0
28      Carla    Trumbull  Female  Great Britain  28.0  21/05/2015  3264.0
29       Veta       Muntz  Female  Great Britain  37.0  15/10/2017  4569.0
30     Stasia      Becker  Female  Great Britain  34.0  16/08/2016  7521.0
31       Jona      Becker  Female  Great Britain  26.0  21/05/2015  6458.0
32      Judie    Claywell  Female         France  35.0  16/08/2016  7569.0
33     Dewitt      Borger    Male  United States  36.0  21/05/2015  8514.0
34       Nena      Hacker  Female  United States  29.0  15/10/2017  8563.0
35     Kelsie     Wachtel  Female         France  27.0  16/08/2016  8642.0
36        Sau        Pfau  Female  United States  25.0  21/05/2015  9536.0
37    Shanice   Mccrystal  Female  United States  36.0  21/05/2015  2567.0
38      Chase      Karner    Male  United States  37.0  15/10/2017  2154.0
39     Tommie   Underdahl    Male  United States  26.0  16/08/2016  3265.0
40     Dorcas      Darity  Female  United States  37.0  21/05/2015  8765.0
41      Angel       Sanor    Male         France  24.0  15/10/2017  3259.0
42  Willodean        Harn  Female  United States  39.0  16/08/2016  3567.0
43     Weston     Martina    Male  United States  26.0  21/05/2015  6540.0
44       Roma  Lafollette  Female  United States  34.0  15/10/2017  2654.0
45     Felisa        Cail  Female  United States  28.0  16/08/2016  6525.0
46   Demetria       Abbey  Female  United States  32.0  21/05/2015  3265.0
47     Jeromy        Danz    Male  United States  39.0  15/10/2017  3265.0
48   Rasheeda      Alkire  Female  United States  29.0  16/08/2016  6125.0
49      Dulce       Abril  Female  United States  32.0  15/10/2017  1562.0
50       Mara   Hashimoto  Female  Great Britain  25.0  16/08/2016  1582.0
51     Philip        Gent    Male         France  36.0  21/05/2015  2587.0
52   Kathleen      Hanner  Female  United States  25.0  15/10/2017  3549.0
53    Nereida     Magwood  Female  United States  58.0  16/08/2016  2468.0
54     Gaston       Brumm    Male  United States  24.0  21/05/2015  2554.0
55       Etta        Hurn  Female  Great Britain  56.0  15/10/2017  3598.0
56    Earlean      Melgar  Female  United States  27.0  16/08/2016  2456.0
57   Vincenza     Weiland  Female  United States  40.0  21/05/2015  6548.0
58     Fallon     Winward  Female  Great Britain  28.0  16/08/2016  5486.0
59    Arcelia      Bouska  Female  Great Britain  39.0  21/05/2015  1258.0

#### Data Exploration

In [91]:
# Data Exploration: Check the first few rows to understand the data structure.

data_head = df.head()
print(data_head)

  First Name  Last Name  Gender        Country   Age        Date      Id
0      Dulce      Abril  Female  United States  32.0  15/10/2017  1562.0
1       Avon      Abril  Female          India  28.0  15/10/2017  1562.0
2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582.0
3     Philip       Gent    Male         France  36.0  21/05/2015  2587.0
4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549.0

#### Data Filtering

In [92]:
# Data Filtering: Extract transactions for a specific account or period.

account_trans = df[df['Id'] == 1562]
print(account_trans)

   First Name Last Name  Gender        Country   Age        Date      Id
0       Dulce     Abril  Female  United States  32.0  15/10/2017  1562.0
1        Avon     Abril  Female          India  28.0  15/10/2017  1562.0
49      Dulce     Abril  Female  United States  32.0  15/10/2017  1562.0

#### Grouping and Data Aggregation

In [93]:
# Data Aggregation: Summarize total transaction amounts per customer for reporting purposes.

trans_sum = df.groupby('Country')['Id'].sum()
print(trans_sum)

Country
France            51399.0
Great Britain     65806.0
India              1562.0
United States    134085.0
Name: Id, dtype: float64

#### Cleaning Data

In [94]:
# Data Visualization: Plot transaction trends over time to identify peak periods or unusual patterns.

cleaned_data = df.dropna()

#### Data Transformation

In [61]:
df['Date'] = pd.to_datetime(df['Date'])

#### Merging data

In [108]:
merged_name = pd.merge(df['First Name'], df['Last Name'], on=df['Id'])

In [ ]:
merged_name.to_excel('D:/01 Mahesh Data/Data/Pandas/data2.xlsx')

#### Writing to Excel

In [96]:
cleaned_data.to_excel('D:/01 Mahesh Data/Data/Pandas/data1.xlsx')

#### Data Visualization

In [110]:
data1 = pd.read_excel('D:/01 Mahesh Data/Data/Pandas/data1.xlsx')

In [111]:
df1 = pd.DataFrame(data1)

In [ ]:
print(df1)

In [ ]:
print(df1.info())